.App-header {
  background-color: #F0EEEF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Establishes the top of the calculator*/
.calculator-top {
  border-top: 2px solid #131111;
  border-right: 2px solid #131111;
  border-left: 2px solid #131111;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 400px;
  font-size: 3em;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: right;
  align-items: right;
}

/* Establishes the grid for the calculator buttons*/
.calculator-body {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4%;
  width: 400px;
  height: 400px;
  padding: 2%;
  border: 2px solid #131111;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Gives the calculator buttons styling */
.button {
  background-color: #777777;
  border: 1px solid #131111;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1.6em;
}

.button.clear-button {
  grid-area: 1 / span 3;
  background-color: #3473DB;
}

.button.zero-button {
  grid-area: 5 / span 3;
}

.button.equals-button {
  background-color: #28D161;
}