.App-header {
  background-color: #F0EEEF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Establishes the top of the calculator*/
.calculator-top {
  grid-area: 1 / span 4;
}

input {
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #131111;
  text-align: right;
  font-size: 3em;
}

::placeholder {
  color: #131111;
}

/* Establishes the grid for the calculator buttons*/
.calculator-body {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4%;
  width: 300px;
  height: 400px;
  padding: 2%;
  border: 2px solid #131111;
  border-radius: 5px;
}

/* Gives the calculator buttons styling */
.button {
  background-color: #777777;
  border: 1px solid #131111;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1.6em;
}

.button.clear-button {
  grid-area: 2 / span 3;
  background-color: #3473DB;
}

.button.zero-button {
  grid-area: 6 / span 3;
}

.button.equals-button {
  background-color: #28D161;
}